.sign-up-banner {
  display: none;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.sign-up-banner--visible {
  display: flex;
}

.sign-up-banner__text {
  font-family: 'Satoshi', 'Assistant';
  margin: 6px 12px;
  max-width: 80%;
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.sign-up-banner__link {
  color: white;
}

.sign-up-banner__close {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.sign-up-banner__close svg {
  width: 1.2rem;
  height: 1.2rem;
  color: white;
}

@media (min-width: 768px) {
  .sign-up-banner__text {
    font-size: 1.4rem;
    margin: 8px 12px;
  }

  .sign-up-banner__close {
    height: 4.4rem;
    width: 4.4rem;
    right: 6rem;
  }

  .sign-up-banner__close svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .sign-up-banner__text {
    font-size: 1.7rem;
    margin: 8px;
  }

  .sign-up-banner__close {
    right: 11rem;
  }

  .sign-up-banner__close svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}